
img {
    width: 300px;
    height: auto;
}
div {
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 8px;
        padding-bottom: 10px;
        
    }
   article {
     display: flex;
    justify-content: space-evenly;
    margin: 10px;
    border: 10px dashed fuchsia;
   }

body {
    background: url(https://user-images.githubusercontent.com/39142850/67110554-fdea5400-f20d-11e9-834a-d459a612b7b1.gif);
    text-decoration-color: azure;
    color: azure;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-display: ;
}

h1 {
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 50px;
   
}

h2 {
    display: flex;
    text-align: center;
    font-size: 40px;
    justify-content: center;
}

/* h2 {
    display: flex;
    justify-content: center;
    font: 64px sans-serif ;
    filter: drop-shadow(0 0 0.75rem black)
}

h3 {
    display: flex;
    justify-content: center;
    font: 28px sans-serif bolder;
    text-decoration: underline;
} */
